<nav>
    <div class="container">
        <img src="https://contents.bu.ac.th/contents/images/mous/474813ac-263a-4661-89a1-4d2754b31ae9.jpg" />
    </div>
    
    <ul>
        <li><a href="https://botnoigroup.com/">Home</a></li>
        <li><a href="">AI<i class="fa fa-angle-down"></i></a></li>
        <li><a href="">Product<i class="fa fa-angle-down"></i></a></li>
        <li><a href="">Business<i class="fa fa-angle-down"></i></a></li>
        <li><a href="https://botnoigroup.com/blog">News</a></li>
        <li><a href="https://botnoigroup.com/aboutus">About us</a></li>
        <a href="https://botnoigroup.com/contact" class="Contact" >Contact us</a>
        <li><a href="" style="color: #01c0fb;">Eng<i class="fa fa-angle-down"></i></a></li>
    </ul>
</nav>