<body>
    <div class="container">
        <div class="page">
            <div class="black">
                <div class="circle">
                    <div class="image">
                        <img src="{{myImage}}">
                    </div>
                </div>
                <div class="head">
                    <div class="text">
                        <h1>พสิษฐ์ ธีระเเสงจันทร์</h1>
                        <div class="block">
                            <div class="transform"></div>
                            <div class="line"></div>
                            <div class="transform"></div>
                        </div>
                        <h2>FRONT-END DEVELOPER</h2>
                    </div>
                    <div class="text_p">
                        <p>" สวัสดีครับตอนนี้ผมเป็นนักศึกษาปีการศึกษาที่ 3 คณะ วิทยาศาสตร์
                            สาขาวิทยาการคอมพิวเตอร์ ผมสนใจในการพัฒนาเว็บไซต์ทั้ง Front End
                            และ Back End ถึงเเม้ผมจะยังมีความรู้ที่ใช้พัฒนาเว็บไซต์ไม่มากเเต่ก็พร้อม
                            ที่จะเรียนรู้เพื่อพัฒนาความสามารถตัวเอง เเละนำไปต่อยอดตัวเอง "</p>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="left">
                    <div class="data">
                        <div class="head">
                            <h2>ข้อมูลส่วนตัว</h2>
                        </div>
                        <div class="bottom">
                            <div class="l">
                                <p>วันเกิด</p><br>
                                <p>อายุ</p><br>
                                <p>สัญชาติ</p><br>
                            </div>
                            <div class="r">
                                <p>22/04/2546</p><br>
                                <p>20 ปี</p><br>
                                <p>ไทย</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="head">
                            <h2>ข้อมูลติดต่อ</h2>
                        </div>
                        <div class="bottom">
                            <div class="icon">
                                <img style="border-radius: 50%;" src="{{phone}}" alt="">
                                <img style="border-radius: 50%;" src="{{mail}}" alt="">
                                <img style="border-radius: 50%;" src="{{home}}" alt="">
                                <div style="height: 11px;"></div>
                                <img src="{{github}}" alt="">
                                <img src="{{linkedin}}" alt="">
                                
                            </div>
                            <div class="text">
                                <p>087-1111-651</p><br>
                                <p>Teerasangjun_p silpakorn.edu</p><br>
                                <p>22/86 หมู่ 2 ซอย 10 ต.คลองใหม่</p><br>
                                <p>อ.สามพราน จ.นครปฐม 73110</p><br>
                                <p>GitHub_Pasit_Teerasangjun</p><br>
                                <p>Linkedin_Pasit_Teerasangjun</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="lan">
                        <div class="head">
                            <h2>ระดับภาษา</h2>
                        </div>
                        <div class="bottom">
                            <div class="lang">
                                <p>Thai</p><br>
                                <p>English</p><br>
                            </div>
                            <div class="g">
                                <div class="thai">
                                    <div class="black"></div>
                                    <div class="white_line"></div>
                                </div>
                                <div class="eng">
                                    <div class="black"></div>
                                    <div class="white_line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="con">
                        <div class="box">
    
                        </div>
                    </div>
                </div>
                <div class="line">
    
                </div>
                <div class="right">
                    <div class="history">
                        <div class="head">
                            <h2>ประวัติการศึกษา</h2>
                        </div>
                        <div class="bottom">
                            <div class="year">
                                <div class="y">
                                    <p>2021 - ปัจจุบัน</p>
                                </div>
                                <div class="y">
                                    <p>2019 - 2021</p>
                                </div>
                            </div>
                            <div class="study">
                                <div class="s">
                                    <p>
                                        มหาวิทยาลัยศิลปากร | ปริญญาตรี <br>
                                        <span style="font-weight: 300;">คณะวิทยาศาสตร์</span> <br>
                                        ( Gpa : 2.62 ) 
                                    </p>
                                </div>
                                <div class="s">
                                    <p>
                                        โรงเรียนยอเเซฟอุปถัมภ์ <br>
                                        <span style="font-weight: 300;">หลักสูตร วิทยาศาสตร์ - คณิตศาสคร์</span> <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line_black">
                        <div class="transform"></div>
                        <div class="line_b"></div>
                        <div class="transform"></div>
                    </div>
                    <div class="exp">
                        <div class="head">
                            <h2>ประสบการณ์ระหว่างการศึกษา</h2>
                        </div>
                        <div class="bottom">
                            <h3>Project ร้านขายอาหาร Delivery </h3>
                            <ul>
                                <li>สร้างหน้าเว็บไวต์ร้านอาหารด้วย HTML</li>
                                <li>สร้าง Database ของร้านอาหารด้วย MySQL</li>
                                <li>ส่ง output จาก Database ด้วย PHP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="current">
                        <div class="head">
                            <h2>ปัจจุบันกำลังศึกษา</h2>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>กำลังศึกษา Mobile Application Development <br> 
                                    โดยใช้ภาษา Dart กับ Flutter</li>
                                <li>กำลังศึกษา Course : The Complete 2024 Web Development Bootcamp <br>
                                    ของ หลักสูตรออนไลน์ udemy เกี่ยวกับภาษา HTML,CSS,Javascript,ฯลฯ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="line_black">
                        <div class="transform"></div>
                            <div class="line_b"></div>
                            <div class="transform"></div>
                    </div>
                    <div class="skill">
                        <div class="head">
                            <h2>ภาษาโปรเเกรมที่เขียนได้</h2>
                        </div>
                        <div class="bottom">
                            <div class="language">
                                <ul>
                                    <li>ภาษา Java</li>
                                    <li>ภาษา C</li>
                                    <li>ภาษา Python</li>
                                </ul>
                            </div>
                            <div class="line_black">
    
                            </div>
                            <div class="language">
                                <ul>
                                    <li>ภาษา CSS</li>
                                    <li>ภาษา HTML</li>
                                    <li>ภาษา PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="line_black">
                        <div class="transform"></div>
                        <div class="line_b"></div>
                        <div class="transform"></div>
                    </div>
                    <div class="software">
                        <div class="head">
                            <h2>ซอฟต์แวร์ (software)</h2>
                        </div>
                        <div class="bottom">
                            <div class="soft">
                                <img src="{{vs}}">
                                <p>Visual Studio Code</p>
                            </div>
                            <div class="soft">
                                <img src="{{mysql}}">
                                <p>MySQL</p>
                            </div>
                            <div class="soft">
                                <img src="{{net}}">
                                <p>Apache NetBeans</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</body>